/*
	Ender imen 
	29.01.2018
*/

body{
	font-family: arial;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #dce775;
}

.size{
	font-size: 32px;
}

.color{
	color: #CF3743;
}

.header h1{
	text-align: center;
	color: #f50057;
	margin: 5% auto;
}

/*Player Buttons Start*/

.player{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto;
	padding: 10px;
	height: 60px;
	width: 500px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 3px gray; 
}

.buttons{
	display: flex;
	justify-content: center;
}

.player-button{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	height: 0.5em;
	width: 1em;
	margin: 10px; 
}

.player-button i:hover{
	color: #ec407a;
	transition: all 0.2s ease-in;
	cursor: pointer;
}
/*Player Buttons End*/


/*Player Bar Start*/

.player-bar-content{
	display: flex;
	align-items: center;
	font-weight: bold;
}

.start-time{
	margin-right: 10px;
	flex-shrink: 0;
}

.bar{
	height: 5px;
	width: 100%;
	flex-grow: 1; 
	border-radius: 5px;
	background-color: #E5E5E5;
}

.bar-state{
	height: 5px;
	width: 40%;
	border-radius: 5px; 
	background-color: #D34954;
}

.end-time{
	margin-left: 10px;
	flex-shrink: 0;
}
/*Player Bar End*/


/*Footer*/

.github{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	color: gray;
}

.github a:hover{
	color: #b0bec5;
	cursor: pointer;
	transition: all 0.2s ease-in;
}