/*
	Ender imen 
	29.01.2018
*/

body{
	font-family: monospace;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #fff9c4;
}

.header h1{
	text-align: center;
	color: #f50057;
	margin: 5% auto;
}
